body {
	margin: 0;
	padding: 0;
}

#container {
	width: 1000px;
	margin: auto;
	border-left: 2px solid black;
	border-right: 2px solid black;
	min-height: 100vh;
	height: auto;
}

#content {
	min-height: calc(100vh - 244px);
}

#header {
	height: 150px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

#logo {
	float: left;
	width: 350px;
	height: 128px;
	background-image: url("../img/logo.jpg");
	background-repeat: no-repeat;
	background-position: 30px 10px;
	background-size: 250px;
	margin: 10px 0 10px 15px;
	border: 1px solid black;
}

#logo h1 {
	position: relative;
	top: 95px;
	border-top: solid 1px black;
	display: inline;
	font-size: 26px;
	font-family: Calibri;
	margin-left: 80px;
}

#logo span {
	font-size: 15px;
	background-color: black;
	color: white;
	position: relative;
	top: -2px;
	padding: 0 8px;
}

#menu {
	float: left;
	height: 50px;
	width: 615px;
	border: 1px solid black;
	border-left: 5px solid black;
	position: relative;
	top: 88px;
	left: -3px;
}

#menu ul {
	list-style-type: none;
	font-family: Calibri;
	font-weight: bold;
	padding: 0;
	margin: 0;
	height: auto;
}

#menu ul li a{
	float: left;
	width: 100px;
	display: block;
	padding-top: 15px;
	height: 35px;
	text-align: center;
	margin: 0 10px;
	color: black;
	text-decoration: none;
}

#menu ul li a:hover {
	background-color: black;
	color: white;
}

#login {
	width: 250px;
	height: 170px;
	padding: 100px;
	padding-top: 40px;
	margin: auto;
	border: 1px solid black;
	border-top: 5px solid black;
}

#login input {
	display: block;
	margin-top: 10px;
	width: calc(100% - 8px);
	border: 1px solid black;
	font-family: calibri;
	font-weight: bold;
	padding-left: 5px;
	color: dark-grey;
	height: 20px;
}

#login p {
	background-color: black;
	color: white;
	padding: 3px;
	font-family: calibri;
}

#login input[type="submit"] {
	background-color: white;
	border: 1px solid black;
	cursor: pointer;
	height: 25px;
	margin-top: 30px;
	width: 100%;
}

#login input[type="submit"]:hover {
	background-color: black;
	color: white;
}

#footer {
	background-color: black;
	color: white;
	height: 50px;
	width: 1000px;
}

#footer p {
	display: inline-block;
	margin-top: 15px;
	margin-left: 15px;
	font-family: Calibri;
}


#footer span {
	color: red;
}

#flights {
	margin: 20px;
}

.flight {
	display: block;
	height: 50px;
	border: 1px solid black;
	font-family: calibri;
	margin-bottom: 3px;
}

.flight p {
	display: inline;
	float: left;
	width: 170px;
	text-align: center;
	border-left: 1px solid black;
	position: relative;
	left: -1px;
}

.head {
	background-color: black;
	color: white;
}

.head p {
	border-left: 1px solid white;
	position: relative;
	left: -2px;
	margin-right: 1px;
}

.new_flight {
	height: 440px !important;
	margin-bottom: 30px !important;
}

.new_flight h1 {
	font-family: calibri;
	font-size: 25px;
	text-decoration: underline;
}