#dvd {
    margin: auto;
    width: 500px;
    height: 500px;
    background: url("../img/dvd.png") no-repeat;
    background-size: 500px;
}

form {
    margin-left: 160px;
}

input{
    margin-top: 30px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-family: Calibri;
    font-color: black;
    outline: none;
    text-align: center;
    position: relative;
    left: -17px;
}

*::-webkit-input-placeholder {
    color: #740000;
}

.top input {
    font-weight: bold;
    font-size: 25px;
    left: -38px;
}

.top {
    padding-top: 50px;
}

.bottom {
    padding-top: 233px;
}

input[type='submit']{
    margin-left: 50px;
    top: -278px;
    left: 0;
    border-radius: 100%;
    position: relative;
    height: 79px;
    width: 79px;
    background-color: #b1000b;
    color: #dedede;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: #740000;
    color: white;
}